---
title: Simplicity meets power
description: Because great things happen when you have the right tools to bring your vision to life.
---

<div class="flex flex-col w-full bg-gradient-to-b from-blue-950 via-blue-500 to-white noise">
  <section class="w-full max-w-3xl mx-auto pt-8 px-3 pb-32 md:pt-48">
    <h1 class="text-4xl font-extrabold tracking-tight text-center text-balance text-white animate-zoom-in md:text-6xl">
      Simplicity meets power
    </h1>

    <p class="max-w-2xl mx-auto mt-4 text-2xl font-extralight text-center text-cyan-100 animate-zoom-in delay-200 md:text-3xl md:mt-8">
      Because great things happen when you have the right tools to bring your vision to life. No complexity, just clarity.
    </p>
  </section>

  <img src="https://placehold.co/1280x720/dbeafe/172554?text=Screenshot" alt="Preview of my great new SaaS" class="w-full max-w-5xl mx-auto rounded-2xl border-10 border-white/40 ring ring-offset-0 ring-white/60 animate-zoom-in delay-300" />
</div>

<%= render partial: "shared/features", locals: { features: Perron::Site.data("features") } %>

<%= render partial: "shared/email_form" %>

